{% extends 'base.html' %}


{% block title %}Главная страница{% endblock %}
<div class="outer" xmlns="http://www.w3.org/1999/html">
{% block content %}



    <div class="inner"><center><h1 class="display-3">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Отдыхали в <img src="http://127.0.0.1:8000/media/media/111.png"> <b><span class="colortext">HP Winners</span></b>?</h1>

    <p class="lead"><big>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        &#160;&#160;
        <img src="http://127.0.0.1:8000/media/media/feedback_man.gif"><a href="{% url 'ratings' %}" style="color: #000">Оставьте отзыв о сотруднике!</a></big></p>

</center>
</div>

</div>

{% endblock %}
